{
  "projects": [
    {
      "name": "project1",
      "path": "/etc/mysql"
    },
    {
      "name": "project2",
      "path": "/var/www"
    }
  ],
  "LOCAL_PATH": "/var/backups/files",
  "CLOUD_BUCKET": "gs://bucket-backups-servers/files",
  "REMOTE_HOST": "",
  "RETENTION_DAYS": 7,
  "ENCRYPTION_KEY": "mySecretPassword",
  "MODE": "local"
}
